html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;

}




.header__div {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__img {
  width: 227px;
  height: 60px;
}

.header__ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__item {
  empty-cells: 76px;
  list-style: none;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

.header__item:not(:last-child) {
  margin-right: 32px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.button {
  border: 0;
  padding: 12px 24px;
  margin-top: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  border-radius: 4px;
  background: #FF7500;
}

.section {
  background-color: #252420;
}

.section__div {
  display: flex;
  justify-content: space-between;
}

.section__line {
  margin: 0;
  background-color: #FF7500;
  width: 80px;
  height: 3px;
  flex-shrink: 0;
  margin-top: 80px;
  margin-bottom: 40px;
}


.section__text {

  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 24px;
}

.section__text__two {
  width: 387px;
  margin-bottom: 32px;
  margin-top: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.section__img {
  padding-top: 40px;

}




.feature__line {
  margin: 0;
  width: 80px;
  height: 3px;
  flex-shrink: 0;
  background: #FF7500;
  margin-top: 210px;
  margin-bottom: 24px;
}

.feature__question {
  margin-bottom: 76px;
  width: 436px;
  color: #000;
  font-family: Roboto Condensed;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.feature__ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__item {
  list-style: none;
  margin-bottom: 254px;
}

.feature__img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #FF750033;
  border-radius: 50%;
  margin-bottom: 32px;

}

.feature__img {
  width: 56px;
  height: 56px;
}

.feature__item:not(last-child) {
  margin-right: 40px;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 12px;
  color: #000;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
  letter-spacing: 0.5px;
}

.feature__text__two {
  margin-top: 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  width: 314px;
}

.promo {

  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
  border-radius: 12px;
  background: #252420;
}


.promo__child {
  margin-top: 0;
  margin-bottom: 24px;

  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.5px;

}

.promo__text {
  margin-top: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

.feature__span {
  color: #FF7500;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}